*{
    margin:0;
    padding: 0%;
}
.logo{
width: 20%;
display: flex;
justify-content: center;
align-items: center;
/* border:5px solid red; */
font-family:initial ;
}


.navbar{
    display: flex;
}

.nav-list{
width: 50%;
display: flex;
align-items: center;
/* background-color: gray; */


}

.nav-list li{
list-style: none;
text-decoration: none;
padding: 23px ;

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-list li a:hover{
text-decoration: none;
color: rgb(92, 83, 83);
}
.rightnav{
    width:50%;
    text-align: right;
/* background-color: hotpink; */
}

.background{
    background: rgba(0,0,0,0.7) url("web1.jpg");
    background-position: 0%;
    
}

.box-main{
display: flex;
justify-content: center;
align-items: center;
color: turquoise;
font-size: 20px;
font-family: monospace;
font-weight:lighter;
max-width: 50%;
margin: auto;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    size: 20px;
}
.firstsection{
    height: 200vh;
}
.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.secondhalf{
    width: 30%;

}
.secondhalf{
width: 70%;
border-radius: 4px;
border-color: rgb(62, 133, 133);
}