*{
    margin:0;
    padding: 0%;
}
.logo{
width: 21%;
display: flex;
justify-content: center;
align-items: center;
/* border:12px solid red; */
font-family:initial ;
}


.navbar{
    display: flex;
}

.nav-list{
width: 48%;
display: flex;
align-items: center;
/* background-color: gray; */


}

.nav-list li{
list-style: none;
text-decoration: none;
padding: 21px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-list li a:hover{
text-decoration: none;
color: rgb(92, 82, 71);
}
.rightnav{
    width:49%;
    text-align: left;
/* background-color: hotpink; */
}

.background{
    background: rgba(23, 24, 235, 0.7) url("web1.jpg");
    background-position: 0%;
    
}

.box-main{
display: flex;
justify-content: center;
align-items: center;
color: turquoise;
font-size: 23px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight:lighter;
max-width: 49%;
margin: auto;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    size: 25px;
}
.firstsection{
    height: 196vh;
}
.firsthalf{
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 11px;
}
.secondhalf{
    width: 30%;

}
.secondhalf{
width: 70%;
border-radius: 12px;
border-color: rgb(62, 154, 133);
}